.container {
  display: flex;
  height:100vh;
  width:100%;
  margin-left:250px;
  padding: 0%;
  margin-right: 0%;
}

.scheduleContainer {
  width: 77%;
  padding:20px;
  background-color: #ffffff;
}

.scheduleTitle {
  font-size:36px;
  margin-bottom: 30px;
}
.scheduleHeader {
  display: flex;
  align-items: center;
  margin-bottom:0px;
}

.CheckTool {
  height:60px;
  width: 120px;
  margin-left: 250px;
  margin-bottom: 15px;
  color: #ffffff;
  background:  linear-gradient(to right, #0097b2, #7ed957);
  font-size: 15px;
  font-weight: bold;
  border-radius: 30px;
  
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
}

.CheckTool:hover {
  background: #aaaaaa;
  color:#000000;
}

table { 
    height: 75vh;
    width:100%;
    margin-top:30px;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border:solid 2px #b7b4b4;
    table-layout: fixed;
  }
  
  thead th {
    background-color: #cbcbcb;
    font-weight: bold;
    text-align: center;
    height: 60px;
    padding: 5px;
  }
  
  tbody td {
    text-align: center;
    padding: 15px;
    border: 1.6px solid #d8d8d8;   

  }
  
  td {
    vertical-align: middle;
    width: 100px; /* 必要に応じて調整 */
    height:100px;
    text-align: center;
    word-break: break-word; /* 文字が長い場合に折り返す */
    white-space: normal; /* 余白を詰めて折り返す */
    overflow: hidden; /* はみ出る文字を隠す */
    padding: 5px;
  }

  .timeTable {
    width: 150px;
    background-color:#e7e7e7;
  }


  .tableCell:hover {
    background-color: #cfcbcb;
    border-radius: 15px;
    cursor: pointer;
  }
/* 
  .classTitle {
    background-color:rgb(255, 107, 154);
    padding: 15px;
    border-radius: 15px;
  } */

  
.homeworkContainer {
  height: 94vh;
  align-self: center;
  width:250px;
  min-width: 250px;
  margin-left: 20px;
  border:2px solid gray ;
  border-radius:  25px;
}

.homeworkContainer .homeworkTitle {
  margin:15px;
}