.settingPageContainer {
    width: 800px;
    height: 60vh;
    position:fixed;
    top:50%;
    left:50%;
    padding: 20px;
    background: linear-gradient(to bottom right, #ffffff, #f4ffff);   

    transform:translate(-50%,-50%);
    border-radius: 15px;
    border:solid 2px black;
 
}
.settingCard {  
    margin-top: 100px;

}

.settigRows {
    background-color: #ffffffd4;
}


.settingPageClose {
   position: fixed;
   right: 10px;
   top:0;
    background: none;
    border: none;
    font-size: 4rem;
    cursor: pointer;
}

.logoutButton {
    height:40px;
    width: 100px;
    color: #000000;
    background: #aaaaaa;
    border-radius: 30px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
}

.logoutButton:hover {
    background-color: #c1eef7fc;
    color:#000000;

}