.container {
    display:flex;
    width:100%;
    margin-left:300px; 
    gap:15px;

}
hr {
    width: 99.7%;
}


.classesContainer {
    width: 75%;
    overflow:auto;
    max-height:100vh;
    display:block
}


.classesTitle {
  position:flex;
  left:5px;
  font-size:35px;
  margin-top:15px;
}

.hittedNumber {
    margin-top: 15px;
}
.hittedNumber b {
   font-size: 35px;
}

.classesNode {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    height:13vh;
    width:90%; 
    display: flex;
    justify-content: space-between;
    background-color: #e7e7e7fa;
    border-radius: 15px;
    margin-bottom: 5px;
    box-shadow:0 2px 5px rgba(0,0,0,0.30);
}

.cardContext {
   display:block;
   align-items: center;
   justify-content: center;
   margin-top: 15px;
   margin-left:18px;
   box-sizing: border-box;
}

.cardContext .classTitle {
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 0%;
}

.cardContext .IsMandatory::after {
    content:"●";
    color:rgb(255, 88, 141);
    margin-left:20px;
}

.cardContext .IsCore::after {
    content:"●";
    color:rgb(122, 213, 236);
    margin-left:20px;
}

.cardContext .icons {
    width: auto;
    height: auto;
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 0px;
    display:flex;
    gap:30px
}

.icon {
    display:flex;
    align-items: center; 
    
}


.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:50px;
    margin-left: 0px;
    gap:15px
}

.detailButton {
    height:40px;
    width: 100px;
    position: relative;
    display: inline-block;
    padding: 5px 9px;
    margin-left:5px;
    margin-right: 1px;
    text-decoration: none;
    color: #000000;
    background: #acaaaa;
    border-radius: 30px;
    
}

.detailButton:hover {
    background-color: #c1eef7fc;
    color: rgb(8, 29, 183);
}


.submitButton {
    height:40px;
    width: 100px;
    position: relative;
    display: inline-block;
    padding: 5px 9px;
    margin-left:1px;
    text-decoration: none;
    color: #ffffff;
    background:  linear-gradient(to right, #0097b2, #7ed957);
    border-radius: 30px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
}

.submitButton:hover {
    background: #aaaaaaef;
    color:#ffffff;

}

.isRegistered {
    background: #aaaaaaef;
    color:#ffffff;
}

.filterContainer {
    background-color: #ffffff;
    display: block;
    align-self: center;
    justify-content: center;
    height: 94vh;
    width: 250px;
    margin-left: 20px;
    border-radius:25px;
    border:2px solid gray;
}

.filterCard {
    height:6vh;
    width:95%; 
    display: flex;
    justify-content: space-between;
    background-color: #dfdcdcfc;
    border-radius: 30px;
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 18px;
    box-shadow:0 2px 5px rgba(0,0,0,0.30);
}

.filterCard:hover {
    background-color: #c1eef7fc;
    color: rgb(8, 29, 183);
}

.filterCard p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.isMandatoryText::before {
    content:"●";
    color:rgb(255, 88, 141);
    font-size:30px;
    margin-right: 5px;
    margin-left:2px;

}

.isCoreText::before {
    content:"●";
    color:rgb(122, 213, 236);
    font-size:30px;
    margin-right: 5px;
    margin-left
    :2px;
}

.isCommonText::before {
    content:"●";
    color:rgb(244, 249, 83);
    font-size:30px;
    margin-right: 5px;
    margin-left
    :2px;
}

.isIntroductoryText::before {
    content:"●";
    color:rgb(74, 247, 89);
    font-size:30px;
    margin-right: 5px;
    margin-left
    :2px;

}

.selectedFilter {
    background-color: #c1eef7fc;
    color: rgb(8, 29, 183);

}
.filterTitle {
    margin: 10px;
}

.descriptonFilter {
  margin: 12px;
  margin-bottom: 40px;
}